<%-include('../partials/_header.ejs')%>

<div style="margin:3vh 0px 0%;">
    <form action="/api/user/login" method="POST">
        <div class="row mx-2">
            <div class="form-group col-lg-6">
                <label for="username">Username</label>
                <input placeholder="username" type="text" name="username" required="true" class="form-control">
            </div>
            
            <div class="form-group col-lg-6">
                <label for="password">Password</label>
                <input required="true"  class="form-control" placeholder="" name="batch_number" type="password">    
            </div>
        </div>

        <div class="row mx-2 col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>   
</div>
<%-include('../partials/_footer.ejs')%>